uvicorn
python-jose[cryptography]
python-dotenv==1.0.1
sqlalchemy
psycopg2-binary
pydantic==2.6.4
passlib[bcrypt]
fastapi[all]
openai
#alembic
pymysql
python-jose
fpdf2
#pip install -r requirements.txt